mixin featured
  section.intro
    .intro__imagen: img(src="./images/imagen.png", alt="Una imagen")
    .intro__contenido
      h2 #{titles[0]}
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus eius reiciendis nihil tempora magnam, eligendi doloribus animi rem voluptatibus dolore suscipit quod minima non dolorum quisquam eos facilis ducimus.
        span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam laborum ipsa voluptatum itaque nihil.
      a.boton Leer más